<footer>
  <nav class="round">
	<ul>
	  <li><%= link_to "About", about_path %></li>
	  <li><%= link_to "Contact", '#' %></li>
	  <li><a href="http://twitt3r.heroku.com">Twitt3r</a></li>
	</ul>


  </nav>
</footer>